.main-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    padding: 200px;
}

.character-card {
    background-color: rgb(32, 32, 32);
    color: white;
    border-radius: 10px;
    width: 280px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:38px;
}

.character-card-sub {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 38px;
}

.character-attributes > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}